@model WebMVCMusica.Models.VideoClipsPlataformas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VideoClipsPlataformas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plataformas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plataformas.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoClips)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoClips.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
