@model WebMVCMusica.Models.Artistas

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Seguro que quieres borrarlo?</h3>
<div>
    <h4>Artistas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudades.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Generos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Generos.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grupos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grupos.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index"><img src="~/img/volver.png" height="30px" width="30px" /></a>
    </form>
</div>
